<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/default/default.css" type="text/css" media="screen" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Source X SRT</title>
    </head>
	<body id="fullwidth">
		<div id="wrapper">
		
			<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
			<header>
				<div id="logo">
				<h1>امروز کشورها درباره سوریه ناچار به مذاکره با ایران هستند </h1>

				</div>
			</header>
			
			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>

			<p>فرمانده کل سپاه پاسداران گفت: وضعیت ایران امروز به گونه‌ای است که حتی کشورهای دیگر برای تعیین سرنوشت سوریه اعتراف می‌کنند که باید با ایران مذاکره کنند.

به گزارش خبرنگار دفاعی خبرگزاری تسنیم، سرلشکر محمدعلی جعفری فرمانده کل سپاه پاسداران انقلاب اسلامی امروز جمعه در یادواره شهدای مدافع حرم فاتحین که در مرکز همایش‌های برج میلاد تهران برگزار شد، ضمن تسلیت ایام سوگواری اباعبدالله‌الحسین، گفت: یاد شهیدان انقلاب اسلامی، دفاع مقدس و کسانی که پس از آن در جبهه‌های مختلف استقامت و پایداری در دفاع از انقلاب اسلامی در داخل و خارج کشور جان خود را تقدیم اسلام و انقلاب اسلامی کرده‌اند را گرامی می‌دارم.

وی ادامه داد: انصافا جمله‌ای که مقام معظم رهبری درباره شهدای مدافع حرم فرمودند به درستی صدق می‌کند. این شهدا متفاوت هستند و در حیات خودشان اولیای الهی هستند.

فرمانده کل سپاه پاسداران انقلاب اسلامی ادامه داد: به شما خانواده‌های مدافع حرم از جنس فاتحین تهران تبریک عرض می‌کنم، به خاطر توفیق الهی که شامل حال خانواده شما شده و جزو اولیای الهی هستید.

سرلشکر جعفری با برشمردن صفات مدافعین حرم گفت: جمع شدن صفاتی همچون بصیرت عمیق دینی و انقلابی و شجاعت فردی باعث می‌شود وی مدافع حرم شود که جان خود را در دفاع از حریم ولایت و انقلاب اسلامی فدا می‌کند.

وی با بیان اینکه به همکاران خودر در فاتحین که به خاطر توفیقی که شامل حال آنها شده تبریک عرض می‌کنم، گفت: فاتحین افرادی هستند که با کمترین توقع و سرمایه‌گذاری جانی و دفاع از حریم ولایت آمادگی خود را همه‌جانبه اعلام کردند و سال‌هاست که آمادگی خود را حفظ کرده‌اند و به حدی رسیدند که در دفاع از حریم ولایت آماده جانبازی و جهاد هستند.

فرمانده کل سپاه پاسداران انقلاب اسلامی تصریح کرد: به همسران و فرزندان شهدای مدافع حرم نیز تبریک عرض می‌کنم به خاطر همسران و والدینی که دارند.

سرلشکر جعفری خطاب به مدافعین حرم، گفت: باید گسترش این جبهه را از تکالیف خود بدانیم و برای تحقق اهداف انقلاب که همان دفاع مسلحانه است که شما در آن مسیر قرار گرفته‌اید را ادامه بدهید.

وی افزود: دفاع مسلحانه از انقلاب اسلامی در خارج از مرزهای ایران توفیق بسیار بزرگی است که نصیب هر فردی نمی‌شود و این توفیقی الهی است.

فرمانده کل سپاه پاسداران انقلاب اسلامی ادامه داد: در تهران بنای خوبی با ایجاد گردان فاتحین برای گسترش این جبهه ایجاد شد که در کل کشور نیز در حال گسترش آن هستیم.

سرلشکر جعفری تصریح کرد:‌ در گزارشی که به مقام معظم رهبری از این ماموریت خطیری که فاتحین ارائه کردند، بنده دادم نکته‌ای که به آن اشاره کردم این بود که یگان فاتحین افتخارش این است که هر تلاش و امکاناتش داوطلبانه است و این چیز گم شده‌ای است که در دفاع مقدس هم نداشتیم.

وی تصریح کرد: اینکه یک جوانی از وقتش و سرمایه‌اش و از زندگی‌اش بدون اینکه توقعی داشته باشد و آماده این است که چنین ماموریتی را بپذیرد، توفیق بزرگی است که در دفاع مقدس نداشتیم.

فرمانده کل سپاه پاسداران با بیان اینکه حوادث گسترده در منطقه نشان می‌دهد اگر دفاع مقدس نبود امروز ما شاهد وضعیت دیگری در منطقه غرب آسیا بودیم، افزود: امروز شاید اسرائیل چند برابر مساحت کوچک خودش گسترش یافته بود که انقلاب اسلامی و مقاومت اسلامی نگذاشت این کار انجام شود.

سرلشکر جعفری تصریح کرد: اگر مروری بر سیاست‌های دشمنان انقلاب اسلامی در راس آنها آمریکا و رژیم‌صهیونیستی داشته باشیم مشخص می‌شود تمامی برنامه‌های آنها با شکست مواجه شده و به ضرر خودشان تبدیل شده است.

وی اظهار کرد: وضعیت ایران اسلامی امروز به گونه‌ای است که حتی کشورهای دیگر برای تعیین سرنوشت کشورهای منطقه از جمله سوریه اقرار می‌کنند که باید با ایران مذاکره کنند.

فرمانده کل سپاه پاسداران انقلاب اسلامی در پایان تصریح کرد: این توانمندی ایران همگی مدیون خون شهدا و آمادگی‌هایی است که شما ایجاد کرده‌اید.</p>


			</section>
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
			<footer>

			</footer>
		</div>			
	</body>
</html>
		
		
			
    
    