<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/default/default.css" type="text/css" media="screen" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Source X SRT</title>
    </head>
	<body id="blog">
		<div id="wrapper">
		
			<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
			<header>
				<div id="logo">
				<h1>اتباع خارجی نمی توانند در همه استان ها تحصیل کنند </h1>

				</div>

			</header>

			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>
				<p>
علی باقرزاده رئیس سازمان نهضت سواد آموزی در گفت و گو با خبر نگار گروه جامعه خبرگزاری میزان اظهار داشت:طبق آمار در سال 90 سه میلیون و 456 هزار نفر از افراد در گروه سنی 10 تا49 سال خواندن و نوشتن بلد نبودند.اما اکنون با بررسی های انجام شده و خارج کردن افراد آموزش ناپدیر از آن ها تعداد بی سوادان در کشور به یک میلیون دویست هزار نفر رسیده است.

وی افزود:از بین این تعداد از سواد آموزان  18 هزار نفر از آن ها جزو اتباع خارجی هستند که می توانند در استان های تهران،سمنان،خراسان رضوی،کرمان،یزد،اصفهان،قزوین،قم و البرز سواد بیاموزند.البته این افراد در مابقی استان ها امکان حضور در  لاس های نهضت را ندارند.

رئیس سازمان نهضت سواد آموزی در ادامه گفت:بیشترین سواد آموزان در استان های سیستان و بلوچستان،آذربایجان غربی،کردستان،کرمان،لرستان وخراسان شمالی زندگی می کنند.

باقرزاده تصریح کرد:هرساله برای سواد آموزان سه میلیون جلد کتاب با 140 عنوان تولید می شود.

وی با بیان اینکه با گذشت زمان هنوز هم شاهد ترک تحصیلی دانش آموزان هستیم گفت: متاسفانه در حال حاضر افراد بیسواد از هیچ فعالیتی در کشور محروم نیستند.

رئیس سازمان نهضت سواد آموزی از آموزش سواد در بین سربازان خبر دادو گفت: سربازانی که سواد خواندن و نوشتن ندارند می توانند در زمان ثبت نام ما را از نداشتن سواد خود مطلع کنند.با همکاری ما با نیروی مسلح این دسته از سربازان سه ماه از دوره خدمت سربازی خود را با سواد آموزی در کنار مربیان می گذرانند.

وی در راستای فعالیت های فرهنگی نهضت برای سواد آموزان کشور اظهار داشت:امسال مسابقات کتابخوانی و انشا نویسی برای آن ها برگزار خواهد شد.

باقر زاده در پایان خاطر نشان کرد: از مسئولان تمامی ارگان ها تقاضا دارم با همکاری خود افرادی که سواد خواندن و نوشتن بلد نیستند را به نهضت معرفی کنند تا در آینده شاهد کاهش بیسوادی در کشور باشیم.</p>
			</section>
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->

		</div>			
	</body>
</html>
		
		
			
    
    